[submodule ".config/nvim/bundle/Vundle.vim"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".config/nvim/plugins/manager/Vundle.vim"]
	path = .config/nvim/plugins/manager/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
